.gist-it-gist{
    filter:invert(1);
}

.blm-banner{
    background:black;
    cursor: url("/assets/images/adventurer-sword-blm.png"), default;
    color:white;
    text-align: center;
}

.queer-banner{
    background:black;
    cursor: url("/assets/images/adventurer-sword-rainbow.png"), default;
    color:white;
    border-top: 5px solid $brand-color;
    text-align: center;
    background: linear-gradient(
                    124deg,
                    #000000,
                    #000000,
                    #784f16,
                    #fe0000,
                    #fe8c01,
                    #ffe500,
                    #11a00b,
                    #0643b3,
                    #c32ede,
                    #c32ede
    );
    animation: rainbow 18s ease infinite;
    @keyframes rainbow {
        0%{
            color: white;
        }
        50%{
            color: black;
        }
        100%{
            color: white;
        }
    }
}

.diagram{
    filter:invert(1);
    width: 100%;
}


//invert(121%) sepia(28%) saturate(6110%) hue-rotate(321deg) brightness(97%) contrast(102%)
// see https://stackoverflow.com/questions/42966641/how-to-transform-black-into-any-given-color-using-only-css-filters
