---
layout: default
---
<article class="post card">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div>
    <h2>Leave a comment on our blog:</h3>

    <p>Comment on our blog below or open an issue on our Github repository. 
      {%- if page.issuelink -%}
      <span class="issuelink">Or comment on this existing issue <a href="{{ page.issuelink }}" target="_blank">here</a>.</span>
      {%- endif -%}
    </p>
    <script src="https://utteranc.es/client.js"
      repo="FileFighter/filefighter.github.io"
      issue-term="title"
      label="Peer-Review"
      theme="github-dark"
      crossorigin="anonymous"
      async>
    </script>
  </div>
  
</article>
